@import '../../scss/variables.scss';

div.paginaSignup {

    input {
        background-color: lightgrey;
        border-style: none;
        width: calc(100% - 60px);
        margin-left: 20px;
        padding: 10px;
    }
    
    .inputLabel {
        margin-left: 20px;
    }

    .signUpBtn {
        width: calc(100% - 40px);
        padding: 10px;
        color: white;
        font-weight: bold;
        background-color: $purple;
    }
}