@import '../../scss/variables.scss';

div.paginaSignup {

    input {
        background-color: lightgrey;
        border-style: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .inputLabel {
        font-size: larger;
    }

    .signUpBtn {
        padding: 10px;
        width: 100%;
        color: white;
        font-weight: bold;
        background-color: $purple;
    }

    form {
        max-width: 400px;
        width: calc(100% - 60px);
    }
}