@import '../../scss/variables.scss';

div.paginaSignup {
    
    .inputLabel {
        font-size: larger;
    }

    .signUpBtn {
        padding: 10px;
        width: 100%;
        color: white;
        font-weight: bold;
        background-color: $purple;
    }

    form {
        max-width: 400px;
        width: 100%;
        width: calc(100% - 60px);
        display: flex;
        flex-direction: column;
    }
}