@import '../../../scss/variables.scss';

div.empresaCardApoiando{
    --size: calc(100vw - 250px);

    border-style: solid;
    border-width: 3px;
    border-color: $purple;
    width: calc(100% - 40px);

    img {
        padding: 5px;
        width: var(--size);
        height: var(--size);
        max-width: 125px;
        max-height: 125px;
        object-fit: cover;
        object-position: center center;
    }

    .infos {
        padding: 0px 10px 0px 10px;
    }
}