div.paginaHome {


    div.maisEmpresas {

        padding: 12px;


        div.heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}